//server
public int update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithType},${codeConcat.conditionConcatWithType}){
return ${tableWrapper.instancename}Dao.update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithComma},${codeConcat.conditionConcatWithComma});
}

//dao
public int update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithType},${codeConcat.conditionConcatWithType});

//daoimpl
public int update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithType},${codeConcat.conditionConcatWithType}){

}


//server no bean
public int update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithType},${codeConcat.conditionConcatWithType}){
return ${tableWrapper.instancename}Dao.update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithComma},${codeConcat.conditionConcatWithComma});
}

//dao no bean
public int update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithType},${codeConcat.conditionConcatWithType});


//daoimpl no bean
public int update${codeConcat.fieldConcat}By${codeConcat.conditionConcat}(${codeConcat.fieldConcatWithType},${codeConcat.conditionConcatWithType}){
PreparedStatement p = null;
int result=-1;
Connection conn=null;
String sql = "${update_sql}";
try {
// p = DbHotel.getJshopConnection().prepareStatement(sql);
//p = DbHotel.getConnectionByName(dbname).prepareStatement(sql);
conn =HikariDb.getConnection();
p=conn.prepareStatement(sql);
${update_set}
//p.setString(1,spec.getSpecName());
//p.setObject(2,spec.getSpecTypeID());
//p.setString(3,spec.getTypeName());
//p.setString(4,spec.getBrief());
//p.setInt(5,spec.getSpecID());

result=p.executeUpdate();
} catch (Exception e) {
e.printStackTrace();
throw new DatabaseException(e);
} finally {
DbUtils.close(p);
DbUtils.closeConn(conn);
//DbHotel.closeJshopConnection();
//DbHotel.closeConnectionByName(dbname);
}
return result;
}


